.icon-shape {
  text-align: center;
  width: 10%;
  background-color: #6c4af2;
}
.text__process {
  color: #212529;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.text__p__process {
  color: #6c757d;
}
